<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">
                <h1>Hmmm... <br />
                    There was nothing at this adress.</h1>
                <h3>Maybe try again?</h3>
            </p>
        </LayoutView>
    </NotFound>
</Router>
