@page "/races"
<PageTitle>PocketRace | All Races</PageTitle>

<h1>All Races</h1>

<table class="table table-borderless">
	<thead class="fw-bold table-primary">
		<tr>
			<td>Name</td>
			<td>Surname</td>
			<td>Bib</td>
			<td>Start</td>
			<td>Time</td>

		</tr>
	</thead>
	<tbody>
		@foreach(Classes.Racer racer in racers)
		{
			<tr>
				<td><input type="text" aria-label="Name" class="form-control" value="@racer.name" placeholder="Name" ></td>
				<td><input type="text" aria-label="Surname" class="form-control" value="@racer.surname" placeholder="Surname"></td>
				<td><input type="text" aria-label="Bib" class="form-control" value="@racer.bib" placeholder="Bib"></td>
				<td>
					@if (racer.startDateTime != null)
					{
						<input type="time" aria-label="Start" class="form-control" value="@racer.startDateTime.Value.TimeOfDay">
					}
					else
					{
						<input type="time" aria-label="Start" class="form-control">
					}
				</td>
				<td>
					@if(racer.startDateTime != null && racer.lapDateTime.Count > 0)
					{
						<input type="text" aria-label="Time" class="form-control" value="@((racer.lapDateTime[racer.lapDateTime.Count-1]-racer.startDateTime))">
					}
					else
					{
						<input type="text" aria-label="Time" class="form-control">
					}
				</td>
			</tr>
		}
	</tbody>
</table>

@code {
	public List<Classes.Racer> racers = new List<Classes.Racer>
	{
		new Classes.Racer()
		{
			name = "Mose",
			surname = "Grafström",
			bib = "110",
			startDateTime = new DateTime(2024, 1, 1, 18, 0, 0),
			lapDateTime = new List<DateTime>()
			{
				new DateTime(2024, 1, 1, 18, 22, 36, 100)
			}
		},
		new Classes.Racer()
		{
			name = "Fredrik",
			surname = "Grafström",
			bib = "111",
			startDateTime = new DateTime(2024, 1, 1, 18, 0, 0),
			lapDateTime = new List<DateTime>()
		}
	};

}
