
@page "/races"

@using Classes
@inject RaceService raceService

<PageTitle>PocketRace | All Races</PageTitle>
<div class="all-races-container">
    <div class="container">
        <div class="container top-row d-flex justify-content-between align-items-center mb-3 pt-3 pb-2">
            <h1 class="fw-bold">All Races</h1>
            <button class="btn btn-primary btn-add-race" onclick="@AddRace">
                <i class="bi bi-plus-lg"></i>
            </button>
        </div>
        <div class="py-2">
            @if (races != null)
            {
                @foreach (Race race in races)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@race.Name</h5>
                            <p class="card-text">
                                @if (race.Startlists.Count > 0)
                                {
                                    <ul>
                                        @foreach (Startlist startlist in race.Startlists)
                                        {
                                            <li>@startlist.Name</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span>Empty</span>
                                }
                            </p>
                            <a href="@($"races/edit/{race.Id}")" class="btn btn-primary btn-edit">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <button type="button" class="btn btn-danger btn-delete" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="bi bi-trash3"></i> Delete
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete?</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            @race.Name
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick="() => DeleteRace(race.Id)">Delete</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-secondary btn-export">
                                <i class="bi bi-box-arrow-up"></i> Export
                            </button>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>




@code {
    private Random random = new Random();
    private List<Race> races;

    protected override async Task OnInitializedAsync()
    {
        races = await raceService.GetRacesAsync();
    }

    private async Task AddRace()
    {
        Race addRace = new Race()
        {
            Id = random.Next(0, 10000),
            Startlists = new List<Startlist>()
        };

        addRace.Name = $"Untitled Race: {addRace.Id}";

        races.Add(addRace);

        await raceService.SaveRacesAsync(races);
    }

    private async Task DeleteRace(int Id)
    {
        Race? removeRace;
        try
        {
            removeRace = races.Find(race => race.Id == Id);
        }
        catch(Exception e)
        {
            Console.WriteLine($"Couldn't find race {Id} to delete");
            return;
        }

        if(removeRace!=null)
            races.Remove(removeRace);

        await raceService.SaveRacesAsync(races);
        
        
    }
}
