@page "/race-view/{RaceId}/{RacerId}"

<Toasts @ref="toasts"></Toasts>

@if (currentRacer != null)
{
	<div class="content-box-section">
		<div class="content-box">
			<div class="d-flex justify-content-between flex-wrap">
				@if (currentRacer.Name != "" || currentRacer.Surname != "")
				{
					<h1 class="top-row-title">@currentRacer.Name @currentRacer.Surname</h1>
				}
				else
				{
					<h1 class="top-row-title">Unnamed Racer</h1>
				}
				<div class="top-row-buttons">
					<a class="btn btn-normal" href="/race-view/@RaceId">
						<span>Back</span>
						<i class="bi btn-bi bi-chevron-double-left" />
					</a>
				</div>
			</div>
			<div>
				<label>Name:</label>
				<input type="text" value="@currentRacer.Name" class="form-control" placeholder="John" @onchange="UpdateRacerName" />
			</div>
			<div>
				<label>Surname:</label>
				<input type="text" value="@currentRacer.Surname" class="form-control" placeholder="Johnson" @onchange="UpdateRacerSurname" />
			</div>
			<div>
				<label>Bib:</label>
				<input type="number" value="@currentRacer.Bib" class="form-control" placeholder="123" @onchange="UpdateRacerBib" />
			</div>
		</div>

		<div class="content-box">
			<div>
				<label>Start:</label>
				<input type="datetime-local" value="@currentRacer.StartDateTime" class="form-control" @onchange="UpdateStartDatetime" />
			</div>
		</div>
		<div class="content-box">
			@for (int i = 0; i < currentRacer.LapDateTime.Count; i++)
			{
				<div>
					<label>Lap @(i + 1):</label>
					<input type="datetime-local" value="@currentRacer.LapDateTime[i]" class="form-control" @onchange="(ChangeEventArgs args)=>UpdateLaptime(args, i)" />
				</div>
			}
		</div>

	</div>
}
else
{
	<div class="page-spinner spinner-border" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
}

@code {
	[Parameter] public string RaceId { get; set; }
	[Parameter] public string RacerId { get; set; }
	private Toasts toasts = new Toasts();
	private Race currentRace { get; set; } = new Race();
	private Racer currentRacer { get; set; } = new Racer();

	protected override async Task OnInitializedAsync()
	{
		await LoadRace();
		await LoadRacer();
	}

	async Task LoadRace()
	{
		var getRace = await RaceService.GetRaceByIdAsync(RaceId, jsRuntime);

		if (getRace == null)
		{
			toasts?.CreateToast(new Toast("", $"Could not find a race with id: {RaceId}", "text-bg-danger"));
		}

		currentRace = getRace;
	}

	async Task LoadRacer()
	{
		var getRacer = currentRace.Startlists.SelectMany(startlist => startlist.Racers).First(racer => racer.Id == RacerId);

		if (getRacer == null)
		{
			toasts?.CreateToast(new Toast("", $"Could not find a racer with id: {RacerId}", "text-bg-danger"));
		}

		currentRacer = getRacer;
	}

	async Task UpdateRacerName(ChangeEventArgs args)
	{
		var getNewValue = args.Value;
		if (getNewValue == null)
		{
			return;
		}
		string newName = (string)getNewValue;
		currentRacer.Name = newName;
		await RaceService.UpdateRaceAsync(currentRace, jsRuntime);
	}

	async Task UpdateRacerSurname(ChangeEventArgs args)
	{
		var getNewValue = args.Value;
		if (getNewValue == null)
		{
			return;
		}
		string newSurname = (string)getNewValue;
		currentRacer.Surname = newSurname;
		await RaceService.UpdateRaceAsync(currentRace, jsRuntime);
	}

	async Task UpdateRacerBib(ChangeEventArgs args)
	{
		var getNewValue = args.Value;
		if (getNewValue == null)
		{
			return;
		}
		string newBib = (string)getNewValue;
		currentRacer.Bib = newBib;
		await RaceService.UpdateRaceAsync(currentRace, jsRuntime);
	}

	async Task UpdateStartDatetime(ChangeEventArgs args)
	{
		var getNewValue = args.Value;
		if (getNewValue == null)
		{
			return;
		}
		DateTime newDatetime = (DateTime)getNewValue;
		currentRacer.StartDateTime = newDatetime;
		await RaceService.UpdateRaceAsync(currentRace, jsRuntime);
	}

	async Task UpdateLaptime(ChangeEventArgs args, int index)
	{
		var getNewValue = args.Value;
		if (getNewValue == null)
		{
			return;
		}
		DateTime newDatetime = (DateTime)getNewValue;
		currentRacer.LapDateTime[index] = newDatetime;
		await RaceService.UpdateRaceAsync(currentRace, jsRuntime);
	}

}